.center-menu {
    width: 100%;
    height: 30%;
    transform: translateY(-50%);
}

.swiploop {
    overflow: hidden;
    position: absolute;
    width: 100%; /* Ширина блока */
    height: 100%; /* Высота блока */
    display: flex;
    flex-direction: row;
}

.slider {
    overflow: scroll; /*Добавляем полосы прокрутки */
    overflow-y: hidden;
    width: 100%; /* Ширина блока */
    height: 100%; /* Высота блока */
    display: flex;
    flex-direction: row;
    -webkit-overflow-scrolling: touch;
}



.slider::-webkit-scrollbar {
    display: none;
}